<%= error_messages_for 'account_information' %>

<h3><%= l(:label_account_information_email) %></h3>
<%= text_area_tag 'settings[account_information]', @settings['account_information'], rows: 8 %></p>
<%= wikitoolbar_for 'settings_account_information' %>
</div>
