<p><%= l(:notice_account_activated) %></p>
<p><%= l(:label_login) %>: <%= link_to h(@login_url), @login_url %></p>

<% if @user.email_address.try(:address) =~ email_domains %>
<p><%= Setting.plugin_redmine_new_user_activation['account_activated'] %></p>
<% end %>
